# Node modules
node_modules

# Build output
dist

# macOS specific files
.DS_Store

# Server public directory
server/public

# Vite related files
vite.config.ts.*
*.tar.gz

# Environment variables
.env